<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Экономика - сотрудники и проекты</title>
</head>
<body>

<form>
    <div>
        <label>Год</label>
        <input type="number" name="year" value="{{ year }}">
    </div>

    <div>
        <label>Месяц</label>
        <select name="month">
            <option value="1" {% if month == 1 %}selected{% endif %}>Январь</option>
            <option value="2" {% if month == 2 %}selected{% endif %}>Февраль</option>
            <option value="3" {% if month == 3 %}selected{% endif %}>Март</option>
            <option value="4" {% if month == 4 %}selected{% endif %}>Апрель</option>
            <option value="5" {% if month == 5 %}selected{% endif %}>Май</option>
            <option value="6" {% if month == 6 %}selected{% endif %}>Июнь</option>
            <option value="7" {% if month == 7 %}selected{% endif %}>Июль</option>
            <option value="8" {% if month == 8 %}selected{% endif %}>Август</option>
            <option value="9" {% if month == 9 %}selected{% endif %}>Сентябрь</option>
            <option value="10" {% if month == 10 %}selected{% endif %}>Октябрь</option>
            <option value="11" {% if month == 11 %}selected{% endif %}>Ноябрь</option>
            <option value="12" {% if month == 12 %}selected{% endif %}>Декабрь</option>
        </select>
    </div>

    <div>
        <label><input type="checkbox" name="alltime" value="1" {% if alltime %}checked{% endif %}> За все время (не учитывать год и месяц)</label>
    </div>

    <div>
        <button type="submit">Применить</button>
    </div>
</form>

<div>
    <table border="1" style="margin: 10px;" class="table">
        {% for row in data %}
            {% if forloop.first %}
                <tr>
                    {% for col in row %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    {% for col in row %}
                        {% if forloop.first %}
                            <th>{{ col }}</th>
                        {% else %}
                            <td><div>{{ col }}</div></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<style>
    .table tr:hover {
        background: grey;
    }
</style>

{% include 'garpix_jira/include/economic_css.html' %}

</body>
</html>